node-red.json
[
    {
        "id": "316484cdc23f5dd8",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b4dd2a9ebb2dcb8",
        "type": "mqtt in",
        "z": "316484cdc23f5dd8",
        "name": "",
        "topic": "edspertkel3/amo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a5bb527b792d4d6b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "1959d588b1e57602",
                "59c04b983f4bb25d",
                "697cb28c6dbdf314",
                "3933e8c77add08f9"
            ]
        ]
    },
    {
        "id": "697cb28c6dbdf314",
        "type": "ui_text",
        "z": "316484cdc23f5dd8",
        "group": "e03404dbf7340ac7",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "NH3",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "1959d588b1e57602",
        "type": "ui_gauge",
        "z": "316484cdc23f5dd8",
        "name": "",
        "group": "e03404dbf7340ac7",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Amonia",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 380,
        "y": 100,
        "wires": []
    },
    {
        "id": "59c04b983f4bb25d",
        "type": "ui_chart",
        "z": "316484cdc23f5dd8",
        "name": "",
        "group": "e03404dbf7340ac7",
        "order": 5,
        "width": 6,
        "height": 4,
        "label": "Grafik Amonia",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 400,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3933e8c77add08f9",
        "type": "debug",
        "z": "316484cdc23f5dd8",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 220,
        "wires": []
    },
    {
        "id": "c0fcef9e483b20a9",
        "type": "mqtt in",
        "z": "316484cdc23f5dd8",
        "name": "",
        "topic": "edspertkel3/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a5bb527b792d4d6b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 400,
        "wires": [
            [
                "deafc42d51cb6371",
                "2c6f4d32bb01416c",
                "812e0806f0d4fe0c",
                "895ea0decaaff6eb"
            ]
        ]
    },
    {
        "id": "2c6f4d32bb01416c",
        "type": "ui_chart",
        "z": "316484cdc23f5dd8",
        "name": "",
        "group": "e03404dbf7340ac7",
        "order": 6,
        "width": 6,
        "height": 4,
        "label": "Grafik Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 370,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "812e0806f0d4fe0c",
        "type": "ui_text",
        "z": "316484cdc23f5dd8",
        "group": "e03404dbf7340ac7",
        "order": 10,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "T",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 330,
        "y": 460,
        "wires": []
    },
    {
        "id": "deafc42d51cb6371",
        "type": "ui_gauge",
        "z": "316484cdc23f5dd8",
        "name": "",
        "group": "e03404dbf7340ac7",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 380,
        "wires": []
    },
    {
        "id": "895ea0decaaff6eb",
        "type": "debug",
        "z": "316484cdc23f5dd8",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 500,
        "wires": []
    },
    {
        "id": "2ac195f80652e52e",
        "type": "mqtt in",
        "z": "316484cdc23f5dd8",
        "name": "",
        "topic": "edspertkel3/hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a5bb527b792d4d6b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 640,
        "y": 120,
        "wires": [
            [
                "cc4764189e0410c0",
                "8cf240c6178e43d8",
                "1a6b4867605f9801",
                "32da375ebaea0c80"
            ]
        ]
    },
    {
        "id": "c362447f7eaeeb58",
        "type": "comment",
        "z": "316484cdc23f5dd8",
        "name": "Amonia",
        "info": "",
        "x": 110,
        "y": 80,
        "wires": []
    },
    {
        "id": "d7d33383a41f04ec",
        "type": "comment",
        "z": "316484cdc23f5dd8",
        "name": "Temperature",
        "info": "",
        "x": 110,
        "y": 360,
        "wires": []
    },
    {
        "id": "8cf240c6178e43d8",
        "type": "ui_chart",
        "z": "316484cdc23f5dd8",
        "name": "",
        "group": "e03404dbf7340ac7",
        "order": 7,
        "width": 6,
        "height": 4,
        "label": "Grafik Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "1a6b4867605f9801",
        "type": "ui_text",
        "z": "316484cdc23f5dd8",
        "group": "e03404dbf7340ac7",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "%RH",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "cc4764189e0410c0",
        "type": "ui_gauge",
        "z": "316484cdc23f5dd8",
        "name": "",
        "group": "e03404dbf7340ac7",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "32da375ebaea0c80",
        "type": "debug",
        "z": "316484cdc23f5dd8",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "e9557a5a5cc74fb7",
        "type": "comment",
        "z": "316484cdc23f5dd8",
        "name": "Humidity",
        "info": "",
        "x": 620,
        "y": 80,
        "wires": []
    },
    {
        "id": "dcd06c50cfe65de3",
        "type": "comment",
        "z": "316484cdc23f5dd8",
        "name": "Massa Pakan",
        "info": "",
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "48332901b41d3a4c",
        "type": "mqtt in",
        "z": "316484cdc23f5dd8",
        "name": "",
        "topic": "edspertkel3/mass",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a5bb527b792d4d6b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 640,
        "y": 400,
        "wires": [
            [
                "7be2732e93306b0f",
                "8290eacbf4722e07",
                "20146a1afa1c4c59",
                "15f6c91fe11da8e5"
            ]
        ]
    },
    {
        "id": "7be2732e93306b0f",
        "type": "ui_chart",
        "z": "316484cdc23f5dd8",
        "name": "",
        "group": "e03404dbf7340ac7",
        "order": 8,
        "width": 6,
        "height": 4,
        "label": "Grafik Massa",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "20146a1afa1c4c59",
        "type": "ui_text",
        "z": "316484cdc23f5dd8",
        "group": "e03404dbf7340ac7",
        "order": 12,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "m",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 870,
        "y": 460,
        "wires": []
    },
    {
        "id": "8290eacbf4722e07",
        "type": "ui_gauge",
        "z": "316484cdc23f5dd8",
        "name": "",
        "group": "e03404dbf7340ac7",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Massa",
        "label": "kg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 380,
        "wires": []
    },
    {
        "id": "15f6c91fe11da8e5",
        "type": "debug",
        "z": "316484cdc23f5dd8",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 500,
        "wires": []
    },
    {
        "id": "a5bb527b792d4d6b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e03404dbf7340ac7",
        "type": "ui_group",
        "name": "Monitoring Parameter Fisis ",
        "tab": "ee0bb7e6cf870002",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ee0bb7e6cf870002",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]